---
import type { GetStaticPaths } from "astro";
import Container from "../../components/Container.astro";
import RenderBlocks from "../../components/block/RenderBlocks.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { type Post } from "@turbopress/payload/types";
import { find } from "@/utils/payload-rest";

export const getStaticPaths = (async () => {
  const allPosts = await find<Post>("post");
  return (allPosts?.docs ?? []).map((post) => ({
    params: { slug: post.slug }
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
if (!slug) throw new Error("Invalid slug!");
const result = await find<Post>("post", {
  where: {
    slug: {
      equals: slug
    }
  }
});

const post = result?.docs[0];
---
<MainLayout title="Test">
  <Container>
    <RenderBlocks blocks={post?.content ?? []} /> 
  </Container>
</MainLayout>