---
import escapeHTML from "escape-html";
import { Text } from "slate";
import type { Block, FormattedElement, FormattedText } from "@turbopress/payload/types";

type Props = {
  richText: (FormattedElement | FormattedText)[]
};

const { richText } = Astro.props;
---

{
  richText.map((node) => {
    return Text.isText(node) ? (
      <>
        {node.bold && <strong>{node.text}</strong>}
        {node.code && <code>{node.text}</code>}
        {node.italic && <em>{node.text}</em>}
        {!node.bold && !node.code && !node.italic && (
          <>{node.text}</>
        )}
      </>
    ) : (
      <>
        {node.type === "h1" && (
          <h1 class="text-5xl font-bold">{<Astro.self richText={node.children} />}</h1>
        )}
        {node.type === "h2" && (
          <h2 class="text-4xl font-bold">{<Astro.self richText={node.children} />}</h2>
        )}
        {node.type === "h3" && (
          <h3 class="text-3xl font-bold">{<Astro.self richText={node.children} />}</h3>
        )}
        {node.type === "h4" && (
          <h4 class="text-2xl font-bold">{<Astro.self richText={node.children} />}</h4>
        )}
        {node.type === "h5" && (
          <h5 class="text-xl font-bold">{<Astro.self richText={node.children} />}</h5>
        )}
        {node.type === "h6" && (
          <h6 class="text-lg font-bold">{<Astro.self richText={node.children} />}</h6>
        )}
        {node.type === "quote" && (
          <p class="text-4xl font-bold">{<Astro.self richText={node.children} />}</p>
        )}
        {node.type === "ul" && (
          <ul class="ml-4 list-disc">{<Astro.self richText={node.children} />}</ul>
        )}
        {node.type === "ol" && (
          <ol class="ml-4 list-decimal">{<Astro.self richText={node.children} />}</ol>
        )}
        {node.type === "li" && (
          <li>{<Astro.self richText={node.children} />}</li>
        )}
        {node.type === "link" && (
          <a href={escapeHTML(node.url)}>
            {<Astro.self richText={node.children} />}
          </a>
        )}
        {!node.type && <p>{<Astro.self richText={node.children} />}</p>}
      </>
    );
  })
}
