---
import type { Block } from '@turbopress/payload/types';

type Props = Extract<Block, { blockType: "picture" }>;
const { picture, caption } = Astro.props;
if (typeof picture === "string") throw new Error("Depth exceeded");
---
<div>
  <img src={`${picture.url}`} width={picture.width} height={picture.height} />
  {
    caption
      ?.split("\n")
      .map((line: string) => (<>
        <p>{line}</p> 
        <br/>
      </>))
  }
</div>