---
import RichTextBlock from "./RichTextBlock.astro";
import Section from "./Section.astro";
import Picture from "./Picture.astro";
import { type Block } from "@turbopress/payload/types";
import ReusableContent from "./ReusableContent.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Props {
  blocks: Block[];
}

const blockComponents: Record<string, AstroComponentFactory> = {
  "rich-text": RichTextBlock,
  "section": Section,
  "picture": Picture,
  "reusable-content-block": ReusableContent,
} as const;

const { blocks } = Astro.props;
---

<div>
  {
    blocks.map((block) => {
      const blockType = block.blockType;

      if (blockType && blockType in blockComponents) {
        const Block = blockComponents[block.blockType];

        if (Block) {
          return <Block {...block} />
        }
      }

      return null;
    })
  }
</div>