---
import type { Block } from '@turbopress/payload/types';
import RenderBlocks from './RenderBlocks.astro';

type Props = Omit<Extract<Block, { blockType: "section" }>, "blockType">;

const { title, description, blocks } = Astro.props;
---

<section>
  <h3 class="text-3xl font-bold">{title}</h3>
  <p>{description}</p>
  <RenderBlocks blocks={blocks as Block[]} />
</section>