---
import type { GetStaticPaths } from "astro";
import Container from "@/components/Container.astro";
import RenderBlocks from "@/components/block/RenderBlocks.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { type Page } from "@turbopress/payload/types";
import { find } from "@/utils/payload-rest";

export const getStaticPaths = (async () => {
  const allPosts = await find<Page>("page");
  return (allPosts?.docs ?? []).map((post) => ({
    params: { slug: post.slug }
  }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
if (!slug) throw new Error("Invalid slug!");
const result = await find<Page>("page", {
  where: {
    slug: {
      equals: slug
    }
  }
});

const page = result?.docs[0];
---
<MainLayout title="Test">
  <Container>
    <RenderBlocks blocks={page?.content ?? []} /> 
  </Container>
</MainLayout>