---
import type { Navigation } from '@turbopress/payload/types';
type Props = Extract<Navigation["blocks"][number], { blockType: "nav-link" }>;
const { text, reference, customUrl, post, page } = Astro.props;

let url = customUrl;
if (reference === "post") {
  if (post && typeof post !== "string") {
    url = `/posts/${post.slug}`;
  }
} else if (reference === "page") {
  if (page && typeof page !== "string") {
    url = `/${page.slug}`;
  }
}
---
<li>
  <a href={url} class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
    {text}
  </a>
</li>