---
import Container from "@/components/Container.astro";
import Dropdown from "./Dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import getNavigationData from "@/utils/getNavigationData";
import NavbarLink from "./NavbarLink.astro";

const navigation = await getNavigationData();
---
<div>
  <Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href="/" class="text-lg">
            {navigation.siteName}
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col items-start lg:items-center lg:flex-row lg:gap-3">
            {
              navigation.blocks.map((item, index) => (
                <>
                  {item.blockType === "nav-dropdown" ? (
                    <Dropdown
                      {...item}
                      lastItem={index === navigation.blocks.length - 1}
                    />
                  ) : (
                    <NavbarLink {...item} />
                  )}
                </>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
    </header>
  </Container>
</div>
