<footer class="my-20">
  <p class="text-center text-slate-500">
    Copyright &copy; 2023 Site name. All rights reserved.
  </p>
  <p class="text-center text-slate-500 mt-1">
    Made by <a
      href="https://bgodley.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Braden Godley 
    </a>
  </p>
</footer>